.a-nav-primary-link {
    @include typography($typography-navigation);
    text-decoration: none;
    position: relative;

    @include media-breakpoint-down(md) {
        font-size: 2rem; // TODO get from variable typography
        margin-bottom: 12px;
    }

    @include media-breakpoint-up(lg) {
        &:after {
            background: black;
            bottom: -4px;
            content: '';
            display: block;
            height: 1px;
            position: absolute;
            transition: width 0.4s;
            transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
            width: 0;
        }

        &:hover:after {
            width: 100%;
        }
    }
}


@mixin link-box {
    position: absolute;
    transition: width .4s ease;
    background: black;
    content: '';
    display: block;
}

.a-link-box {
    @include typography($typography-navigation);

    @include media-breakpoint-up(lg) {
        border: 1px solid rgba(62,62,62,.08);
        display: block;
        position: relative;


        &:before {
            @include link-box;
            top: -1px;
            right: auto;
            left: 0px;
            width: 0%;
            height: 1px;
        }

        &:hover:before {
            left: auto;
            right: 0;
            width: 100%;
        }

        &:after {
            @include link-box;
            bottom: 0;
            left: auto;
    	    right: 0px;
    	    width: 0%;
    	    height: 1px;
        }

        &:hover:after {
            right: auto;
            left: 0;
            width: 100%;
        }
    }
}

.a-link-box__inner {
    @include media-breakpoint-up(lg) {
        display: block;
        // padding: 30px 12px;
        padding: 12px;
        position: relative;

        &:before {
            @include link-box;
            top: auto;
            bottom: 0;
    	    left: -1px;
    	    height: 0;
    	    width: 1px;
        }

        &:hover:before {
            top: 0;
        	bottom: auto;
            height: 100%;
        }

        // &:before {
        //     @include link-box;
        //     top: 0;
        //     bottom: auto;
    	//     left: -1px;
    	//     height: 0;
    	//     width: 1px;
        // }
        //
        // &:hover:before {
        //     top: auto;
        // 	bottom: 0;
        //     height: 100%;
        // }

        &:after {
            @include link-box;
            bottom: 0;
            top: auto;
    	    right: 0px;
    	    height: 0;
    	    width: 1px;
        }

        &:hover:after {

            bottom: auto;
            top: 0px;
            height: 100%;
        }
    }
}
