// TODO rename to .m-nav-list
.m-nav-primary {
    @include media-breakpoint-up(lg) {
        display: flex;
    }
}

.m-nav-primary__item {
    align-items: center;
    display: flex;
    list-style: none;

    @include media-breakpoint-down(md) {
        margin-bottom: 6px;
        justify-content: center;
    }

    @include media-breakpoint-up(lg) {
        margin: 0 18px;
    }
}
