// General colours
//
// We follow a naming convention from this website https://coolors.co/4de7ee-ff87b2-ffff6c-93f280-333333.
// We prefix all colours with $f- and keep the casing to kebab case.
// -----------------------------
$colour-outer-space-100: #4a4a4a;
$colour-white-100: #ffffff;
$colour-registration-black-100: #000000;
$colour-jet-100: #333333;
$colour-granite-grey-100: #646464;
$colour-raisin-black-100: #242424;
$colour-registration-black-25: rgba(0, 0, 0, 0.25);
$colour-eerie-black-100: #181818;
$colour-bleu-de-france-100: #2b8edb;
$colour-platinum-100: #e6e6e6;
$colour-registration-black-50: rgba(0, 0, 0, 0.5);
$colour-white-smoke-100: #f6f6f6;
$colour-pastel-gray-100: #cccccc;
$colour-timberwolf-100: #d8d8d8;
$colour-isabelline-100: #ececec;
$colour-trolley-grey-100: #7f7f7f;
$colour-cyan-cobolt-blue-100: #3b55a0;
$colour-sonic-silver-100: #757575;
$colour-vermilion-100: #ea4335;
$colour-blueberry-100: #4285f4;
$colour-selective-yellow-100: #fbbc05;
$colour-sea-green-100: #34a853;
$colour-light-gray-100: #d1d1d1;
$colour-anti-flash-white-100: #f2f2f2;
$colour-air-force-blue-usaf-100: #003087;
$colour-vivid-cerulean-100: #009cde;
$colour-honeydew-100: #f2ffe3;
$colour-alien-armpit-100: #7ed321;
$colour-goldenrod-100: #d3a921;
$colour-cornsilk-100: #fffcda;
$colour-misty-rose-100: #ffe0e0;
$colour-maximum-red-100: #d32121;
$colour-lapis-lazuli-100: #1f6fa1;
$colour-dark-medium-gray-100: #a9a9a9;
