.section-intro {

}

.section-intro__btns {
    margin: 0 auto;
    max-width: 400px;
}

.section-scroll {

}


.section-content {

}

.section-content__header {
    max-width: 60%; // TODO check and breakpoints
}

.section-content__heading {

}

.section-content__text {
    @include rem(margin-bottom, $sizing8);

    padding-bottom: 12px;
    position: relative;

    &:after {
        content: '';
        display: block;
        height: 1px;
        width: 66px;
        background: #333;
        position: absolute;
        bottom: -12px;
    }
}

.section-content__content {

}
